.flexContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100%;
    font-family: Helvetica;
    font-size: 10px;
}


h1 {
    color: rgb(215, 15, 55);
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 10px;

}

time {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;

}

#button{
    overflow:hidden;
    background: rgb(250, 5, 5);
    position: relative;
}

p {
    font-size: 16px; 
    margin-left: 10px;
}

@media (min-width: 1000px) {
    .image{
        text-align: left;
    }
    h1 {
        font-size: 30px;
    }

    .flexContainer{
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;
        min-height: 100%;
    }
    time{
        font-size: 10px;
    }
}
