img {
    float: left;
    border-radius: 50%;
    border: 8px solid rgb(202, 8, 47);
    box-shadow: 0 6px 12px 0 rgb(80, 79, 79); 
    margin-top: 10px;
    margin-left: 10px;
}

@media (max-width: 800px) {
    img {
        height: 110px;
        width: 110px;
    }
}

@media (max-height: 800px) {
    img {
        height: auto;
        width: 50%;
    }
}